// St. John the Divine Theme
$primary-main: #2a446a;
$primary-hover: #385b8f;
$secondary-main: #b0903d;
$secondary-hover: #9e7e1b;

// :export {
//   primaryMain: $primary-main;
//   primaryHover: $primary-hover;
//   secondaryMain: $secondary-main;
//   secondaryHover: $secondary-hover;
// }
