@font-face {
  font-family: "Staatliches";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../assets/Staatliches-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Requiem";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../assets/RequiemSmallCaps.ttf) format("truetype");
}

@font-face {
  font-family: "Koulen";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(../assets/Koulen-Regular.ttf) format("truetype");
}
